<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Cloud IHL!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function() {
        // Change the link with S3 link
        link = "static/logo.jpeg"
        $('#img').attr("src", "static/logo.jpeg")
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
    });
    </script>
</head>

<body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <b>My Website</b>
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/" class="navbar-item is-active">
                        Home
                    </a>

                    <a href="/info" class="navbar-item">
                        More Information
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <section class="section has-background-light is-medium">
        <div class="container">
            <h1 class="title is-1">
                Hello World
            </h1>
            <p class="subtitle">
                My static HTML page hosted with <strong>AWS EC2</strong>!
            </p>
        </div>
    </section>
    <section class="section">
        <div class="container content">
            <div class="columns is-vcentered">
                <div class="column is-two-thirds">
                    <h1>Why am I seeing this</h1>
                    <p>If you're seeing this, it means that your AWS EC2 site is working and serving the
                        <code>index.html</code> correctly.</p>
                    <hr>
                    <h1>What is EC2?</h1>
                    <p>Amazon Elastic Compute Cloud (Amazon EC2) is a web service that provides secure, resizable compute capacity in the cloud.
                        It is designed to make web-scale cloud computing easier for developers.
                        Amazon EC2’s simple web service interface allows you to obtain and configure capacity with minimal friction.
                        It provides you with complete control of your computing resources and lets you run on Amazon’s proven computing environment.
                    </p>
                </div>
                <div class="column has-text-right">
                    <img id="img" src="" style="height: 20rem">
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                The website content is licensed <a href="LICENSE">MIT License</a>.
            </p>
        </div>
    </footer>
</body>

</html>
